@model EmailEntity


<div class="card shadow border-0">
    <div class="card-header bg-secondary bg-gradient">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Send Email</h2>
            </div>
        </div>
    </div>

    <div>
            <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
                <input type="file" name="postedFile" />
                <button type="submit" class="btn btn-primary button" >Import</button>
            </form>
    </div>

    <div class="card-body p-2"  >
        <form method="post" enctype="multipart/form-data" asp-action="SendEmail" asp-controller="Home">

            <div class="col-12">
                <label asp-for="ToAdressBook" class="control-label"> Adress book</label>
                <select asp-for="ToAdressBook" asp-items="@ViewBag.AdressBookList" class="form-select">
                    <option disabled selected>--Select Adress Book--</option>
                </select>
            </div>

            <div class="col-12">
                <label asp-for="EmailSubject" class="control-label">Email subject:</label>
                <input asp-for="EmailSubject" class="form-control" required />
            </div>

            <div class="col-12">
                <label class="control-label">Select file</label>
                <input asp-for="EmailPostedFile" type="file" class="form-control" />
            </div>

            <div class="col-12">
                <label asp-for="EmailContent" class="control-label">Email message</label>
                <textarea asp-for="EmailContent" rows="10" cols="20" class="form-control" id="editor"></textarea>

                <script src="assets/vendor/ckeditor5/build/ckeditor.js"></script>
                <script>
                    ClassicEditor
                        .create(document.querySelector('#editor'))
                        .catch(error => {
                            console.error(error);
                        });

                    function getData() {
                        var editor = window.editor;
                        if (editor) {
                            model.EmailContent = editor.getData();
                        } else {
                            alert("error");
                            return "";
                        }
                    }
                </script>
            </div>

            <br />
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary button" onclick="getData();">Send Email</button>
                </div>
            </div>

            <div class="form-group text-center">
                <div class="text-succes">
                    @if (TempData["alert"] != null)
                    {
                        @TempData["alert"]
                        ;
                    }
                </div>
            </div>
        </form>
    </div>
</div>
